* {
  margin: 0;
  padding: 0;
}
.game{
  display: grid;
  grid-template-rows: 15% 70% 10%; 
  height: 550px;
  justify-content: space-around;
}

.title{
  text-align: center;

}

.new-button{
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  background-color: #96B59C;
  cursor: pointer;
}